<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibili.mapper.CommentMapper">

  <resultMap id="comment" type="com.bilibili.domain.entity.Comment">
    <id column="c_id" jdbcType="INTEGER" property="cId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="v_id" jdbcType="INTEGER" property="vId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="send_date" jdbcType="TIMESTAMP" property="sendDate" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>

</mapper>